.roadmap {
    &__content {
        margin: 238px auto 0;
    }

    &__title-block {
    }

    &__title {
        font-weight: 600;
        font-size: 61px;
        letter-spacing: 0.11em;
        text-align: center;
    }

    &__text {
        margin: 30px auto;
        width: 60%;
        font-size: 25px;
        line-height: 155%;
        text-align: center;
    }

    &__block {
        position: relative;
        margin-top: 90px;
    }

    &__img {
        position: absolute;
        top: -0.4%;
        left: 50.2%;
        transform: translate(-50%);
        width: 191px;
    }

    &__title-smile-block {
        width: 11%;
        margin: 163px auto 0;
    }

    &__smile-title {
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 0.11em;
        white-space: nowrap;

        &:nth-child(1) {
            margin-left: 5px;
        }

        &:nth-child(2) {
            margin: 310px 0 0 84px;
        }

        &:nth-child(3) {
            margin: 287px 0 0;
        }

        &:nth-child(4) {
            margin: 310px 0 0 84px;
        }

        &:nth-child(5) {
            margin: 308px 0 0;
        }

        &:nth-child(6) {
            margin: 450px 0 0 195px;
        }
    }

    &__border-left {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 640px;
        padding: 10px 2px 2px 12px;
        background: $faqMainColor;
        clip-path: polygon(
            5.07% 9.669%,
            5.07% 9.669%,
            5.13% 8.431%,
            5.306% 7.256%,
            5.588% 6.161%,
            5.966% 5.161%,
            6.43% 4.271%,
            6.971% 3.508%,
            7.579% 2.888%,
            8.246% 2.425%,
            8.96% 2.136%,
            9.714% 2.036%,
            95.356% 2.036%,
            95.356% 2.036%,
            96.109% 2.136%,
            96.824% 2.425%,
            97.49% 2.888%,
            98.099% 3.508%,
            98.64% 4.271%,
            99.104% 5.161%,
            99.482% 6.161%,
            99.763% 7.256%,
            99.939% 8.431%,
            100% 9.669%,
            100% 92.366%,
            100% 92.366%,
            99.939% 93.605%,
            99.763% 94.779%,
            99.482% 95.875%,
            99.104% 96.875%,
            98.64% 97.764%,
            98.099% 98.527%,
            97.49% 99.148%,
            96.824% 99.611%,
            96.109% 99.9%,
            95.356% 100%,
            9.714% 100%,
            9.714% 100%,
            8.96% 99.9%,
            8.246% 99.611%,
            7.579% 99.148%,
            6.971% 98.527%,
            6.43% 97.764%,
            5.966% 96.875%,
            5.588% 95.875%,
            5.306% 94.779%,
            5.13% 93.605%,
            5.07% 92.366%,
            5.07% 29.712%,
            5.07% 29.712%,
            5.062% 29.459%,
            5.039% 29.211%,
            5.002% 28.969%,
            4.951% 28.735%,
            4.886% 28.511%,
            4.809% 28.299%,
            4.719% 28.099%,
            4.617% 27.914%,
            4.504% 27.746%,
            4.38% 27.595%,
            1.566% 24.514%,
            1.566% 24.514%,
            1.488% 24.408%,
            1.429% 24.283%,
            1.387% 24.144%,
            1.364% 23.997%,
            1.359% 23.846%,
            1.372% 23.697%,
            1.403% 23.553%,
            1.451% 23.421%,
            1.516% 23.305%,
            1.599% 23.21%,
            4.268% 20.796%,
            4.268% 20.796%,
            4.41% 20.65%,
            4.541% 20.482%,
            4.659% 20.293%,
            4.764% 20.086%,
            4.854% 19.862%,
            4.93% 19.624%,
            4.99% 19.373%,
            5.034% 19.112%,
            5.06% 18.843%,
            5.07% 18.567%,
            5.07% 9.669%
        );

        &:nth-child(3) {
            top: -3.8%;
            left: 56%;
        }

        &:nth-child(4) {
            top: 31.5%;
            left: 56%;
        }

        &:nth-child(5) {
            padding: 3px 2px 2px 4px;
            top: 68.5%;
            left: 56%;
            clip-path: polygon(
                3.879% 5.941%,
                3.879% 5.941%,
                3.941% 4.977%,
                4.119% 4.063%,
                4.404% 3.211%,
                4.786% 2.432%,
                5.256% 1.74%,
                5.804% 1.146%,
                6.42% 0.663%,
                7.095% 0.303%,
                7.819% 0.078%,
                8.581% 0%,
                95.298% 0%,
                95.298% 0%,
                96.061% 0.078%,
                96.784% 0.303%,
                97.459% 0.663%,
                98.075% 1.146%,
                98.623% 1.74%,
                99.093% 2.432%,
                99.475% 3.211%,
                99.76% 4.063%,
                99.938% 4.977%,
                100% 5.941%,
                100% 94.059%,
                100% 94.059%,
                99.938% 95.023%,
                99.76% 95.937%,
                99.475% 96.789%,
                99.093% 97.568%,
                98.623% 98.26%,
                98.075% 98.854%,
                97.459% 99.337%,
                96.784% 99.697%,
                96.061% 99.922%,
                95.298% 100%,
                8.581% 100%,
                8.581% 100%,
                7.819% 99.922%,
                7.095% 99.697%,
                6.42% 99.337%,
                5.804% 98.854%,
                5.256% 98.26%,
                4.786% 97.568%,
                4.404% 96.789%,
                4.119% 95.937%,
                3.941% 95.023%,
                3.879% 94.059%,
                3.879% 21.539%,
                3.879% 21.539%,
                3.871% 21.341%,
                3.848% 21.148%,
                3.811% 20.96%,
                3.759% 20.778%,
                3.694% 20.604%,
                3.615% 20.439%,
                3.524% 20.283%,
                3.421% 20.139%,
                3.306% 20.008%,
                3.181% 19.89%,
                0.332% 17.493%,
                0.332% 17.493%,
                0.253% 17.41%,
                0.193% 17.313%,
                0.151% 17.205%,
                0.128% 17.091%,
                0.122% 16.974%,
                0.135% 16.857%,
                0.166% 16.745%,
                0.215% 16.643%,
                0.282% 16.552%,
                0.366% 16.478%,
                3.067% 14.6%,
                3.067% 14.6%,
                3.212% 14.486%,
                3.344% 14.355%,
                3.464% 14.208%,
                3.569% 14.047%,
                3.661% 13.873%,
                3.738% 13.687%,
                3.798% 13.492%,
                3.843% 13.289%,
                3.87% 13.08%,
                3.879% 12.865%,
                3.879% 5.941%
            );
        }
    }

    &__border-right {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 640px;
        padding: 4px;
        background: $backgroundTokenBorder;
        clip-path: polygon(
            95.977% 8.01%,
            95.977% 8.01%,
            95.915% 6.753%,
            95.738% 5.56%,
            95.453% 4.448%,
            95.072% 3.432%,
            94.604% 2.529%,
            94.058% 1.754%,
            93.443% 1.124%,
            92.771% 0.654%,
            92.05% 0.36%,
            91.289% 0.258%,
            4.844% 0.258%,
            4.844% 0.258%,
            4.083% 0.36%,
            3.362% 0.654%,
            2.69% 1.124%,
            2.075% 1.754%,
            1.529% 2.529%,
            1.061% 3.432%,
            0.679% 4.448%,
            0.395% 5.56%,
            0.218% 6.753%,
            0.156% 8.01%,
            0.156% 91.99%,
            0.156% 91.99%,
            0.218% 93.247%,
            0.395% 94.44%,
            0.679% 95.552%,
            1.061% 96.568%,
            1.529% 97.471%,
            2.075% 98.246%,
            2.69% 98.876%,
            3.362% 99.346%,
            4.083% 99.64%,
            4.844% 99.742%,
            91.289% 99.742%,
            91.289% 99.742%,
            92.05% 99.64%,
            92.771% 99.346%,
            93.443% 98.876%,
            94.058% 98.246%,
            94.604% 97.471%,
            95.072% 96.568%,
            95.453% 95.552%,
            95.738% 94.44%,
            95.915% 93.247%,
            95.977% 91.99%,
            95.977% 28.364%,
            95.977% 28.364%,
            95.984% 28.107%,
            96.007% 27.855%,
            96.045% 27.609%,
            96.097% 27.372%,
            96.162% 27.145%,
            96.24% 26.929%,
            96.331% 26.726%,
            96.434% 26.538%,
            96.548% 26.367%,
            96.673% 26.214%,
            99.513% 23.085%,
            99.513% 23.085%,
            99.592% 22.977%,
            99.652% 22.851%,
            99.693% 22.71%,
            99.716% 22.561%,
            99.722% 22.407%,
            99.709% 22.255%,
            99.678% 22.11%,
            99.629% 21.975%,
            99.563% 21.857%,
            99.479% 21.761%,
            96.786% 19.31%,
            96.786% 19.31%,
            96.642% 19.162%,
            96.51% 18.991%,
            96.391% 18.799%,
            96.285% 18.588%,
            96.194% 18.361%,
            96.118% 18.119%,
            96.057% 17.865%,
            96.013% 17.6%,
            95.986% 17.326%,
            95.977% 17.046%,
            95.977% 8.01%
        );

        &:nth-child(6) {
            top: 15%;
            left: 9.8%;
        }

        &:nth-child(7) {
            top: 50.3%;
            left: 9.8%;
        }

        &:nth-child(8) {
            top: 95%;
            left: 9.8%;
        }
    }

    &__border-button {
        border-radius: 0% 0% 27px 27px;
    }

    &__fill {
        margin-left: 23px;
        padding: 22px 0 21px 42px;
        width: 96.1%;
        background: $backgroundTokenFill;

        &-right {
            margin-left: 0;
        }
    }

    &__fill-top {
        padding: 30px 0 20px 70px;
        margin-left: 0;
        width: 100%;
        clip-path: polygon(
            95.176% 0%,
            8.459% 0%,
            8.459% 0%,
            7.697% 0.291%,
            6.973% 1.133%,
            6.298% 2.48%,
            5.682% 4.288%,
            5.134% 6.509%,
            4.664% 9.098%,
            4.282% 12.01%,
            3.997% 15.198%,
            3.819% 18.618%,
            3.757% 22.222%,
            3.757% 48.125%,
            3.757% 48.125%,
            3.748% 48.928%,
            3.721% 49.712%,
            3.676% 50.472%,
            3.616% 51.201%,
            3.539% 51.895%,
            3.447% 52.546%,
            3.342% 53.149%,
            3.222% 53.699%,
            3.09% 54.19%,
            2.945% 54.615%,
            0.244% 61.641%,
            0.244% 61.641%,
            0.16% 61.917%,
            0.093% 62.255%,
            0.044% 62.64%,
            0.013% 63.058%,
            0% 63.494%,
            0.006% 63.933%,
            0.029% 64.361%,
            0.071% 64.764%,
            0.131% 65.128%,
            0.21% 65.437%,
            3.059% 74.405%,
            3.059% 74.405%,
            3.184% 74.845%,
            3.299% 75.336%,
            3.402% 75.875%,
            3.493% 76.455%,
            3.572% 77.074%,
            3.637% 77.726%,
            3.689% 78.406%,
            3.726% 79.11%,
            3.749% 79.833%,
            3.757% 80.57%,
            3.762% 100%,
            99.878% 100%,
            99.878% 22.222%,
            99.878% 22.222%,
            99.816% 18.618%,
            99.638% 15.198%,
            99.353% 12.01%,
            98.971% 9.098%,
            98.501% 6.509%,
            97.953% 4.288%,
            97.337% 2.48%,
            96.662% 1.133%,
            95.938% 0.291%,
            95.176% 0%
        );

        &-right {
            padding: 30px 0 20px 40px;
            margin-left: 0;
            width: 99.8%;
            clip-path: polygon(
                4.824% 0%,
                91.541% 0%,
                91.541% 0%,
                92.303% 0.291%,
                93.027% 1.133%,
                93.702% 2.48%,
                94.318% 4.288%,
                94.866% 6.509%,
                95.336% 9.098%,
                95.718% 12.01%,
                96.003% 15.198%,
                96.181% 18.618%,
                96.243% 22.222%,
                96.243% 48.125%,
                96.243% 48.125%,
                96.252% 48.928%,
                96.279% 49.712%,
                96.324% 50.472%,
                96.384% 51.201%,
                96.461% 51.895%,
                96.553% 52.546%,
                96.658% 53.149%,
                96.778% 53.699%,
                96.91% 54.19%,
                97.055% 54.615%,
                99.756% 61.641%,
                99.756% 61.641%,
                99.84% 61.917%,
                99.907% 62.255%,
                99.956% 62.64%,
                99.987% 63.058%,
                100% 63.494%,
                99.994% 63.933%,
                99.971% 64.361%,
                99.929% 64.764%,
                99.869% 65.128%,
                99.79% 65.437%,
                96.941% 74.405%,
                96.941% 74.405%,
                96.816% 74.845%,
                96.701% 75.336%,
                96.598% 75.875%,
                96.507% 76.455%,
                96.428% 77.074%,
                96.363% 77.726%,
                96.311% 78.406%,
                96.274% 79.11%,
                96.251% 79.833%,
                96.243% 80.57%,
                96.238% 100%,
                0.122% 100%,
                0.122% 22.222%,
                0.122% 22.222%,
                0.184% 18.618%,
                0.362% 15.198%,
                0.647% 12.01%,
                1.029% 9.098%,
                1.499% 6.509%,
                2.047% 4.288%,
                2.663% 2.48%,
                3.338% 1.133%,
                4.062% 0.291%,
                4.824% 0%
            );
        }
    }

    &__title-item {
        font-weight: 500;
        font-size: 37px;
        letter-spacing: 0.11em;
    }

    &__text-item {
        margin-top: 3px;
        font-weight: 500;
        font-size: 23px;
        letter-spacing: -0.4px;
        white-space: nowrap;
    }
}
