<section class="address address__container">
    <div class="address__content">
        <h2 class="address__title"><span class="address__gradient">FNT</span> Token Address</h2>
        <p class="address__text">The official FNT Token address is:</p>
        <div class="address__button-block">
            <p class="address__token">0sbchj8632ebheqipf73p27up8fuuiw82woq291[i0p9e828</p>
            <button class="address__button">
                <svg class="address__svg"><use href="#copy"></use></svg>
                <span class="address__button-text">Copy</span>
            </button>
        </div>
        <div class="address__notifications"></div>
    </div>
</section>
