<section class="ideas">
    <div class="ideas__block {=$margin}">
        <load
            src="src/components/base/ideas-card.html"
            fill="ideas__green-fiill"
            class-svg="ideas__svg-page"
            border-color="ideas__violet"
            title-class="ideas__none"
            name-svg="#diagram"
            text="Thanks to the limited issuance of a billion Finity, the asset is deinflationary and is programmed to grow as the ecosystem develops"
        />
        <load
            src="src/components/base/ideas-card.html"
            fill="ideas__green-fiill"
            class-svg="ideas__svg-page"
            border-color="ideas__violet"
            title-class="ideas__none"
            name-svg="#NFT-system"
            text="Buy unique NFTs, participate in the ecosystem development vector by voting. Get access to a closed auction and the ability to exchange Finity tokens for in-game coins from our ecosystem"
        />
        <load
            src="src/components/base/ideas-card.html"
            fill="ideas__green-fiill"
            class-svg="ideas__svg-page"
            border-color="ideas__violet"
            title-class="ideas__none"
            name-svg="#geometry"
            text="Finity Token will be issued on the basis of the Binance Smart Chain platform and is fully compliant with the BEP-20 standard"
        />
    </div>
</section>
