<section class="roadmap roadmap__container">
    <div class="roadmap__content">
        <div class="roadmap__title-block">
            <h2 class="roadmap__title">ROADMAPE</h2>
            <p class="roadmap__text">
                There is a total of 1,000,000,000 FNT tokens. Binance Smart Chain is the Issuer of
                the FNT Token and will distribute FNT tokens in the following areas:
            </p>
        </div>
        <div class="roadmap__block">
            <img class="roadmap__img" src="../assets/images/token-page/roadmap-token.webp" />
            <div class="roadmap__title-smile-block">
                <h3 class="roadmap__smile-title">STEP 1</h3>
                <h3 class="roadmap__smile-title">STEP 2</h3>
                <h3 class="roadmap__smile-title">STEP 3</h3>
                <h3 class="roadmap__smile-title">STEP 4</h3>
                <h3 class="roadmap__smile-title">STEP 5</h3>
                <h3 class="roadmap__smile-title">STEP 6</h3>
            </div>
            <div class="roadmap__border-left">
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="MARCH 2022"
                    text="The idea and concept was born"
                    class="roadmap__fill-top"
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="APRIL 2022"
                    text="Team building"
                    class=""
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="MAY 2022"
                    text="Investor contracts"
                    class="roadmap__border-button"
                />
            </div>
            <div class="roadmap__border-left">
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="SEPTEMBER 2022"
                    text="Private sale Finity token"
                    class="roadmap__fill-top"
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="OCTOBER 2022"
                    text="Public sale Finity token"
                    class=""
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="NOVEMBER 2022"
                    text="Marketplace development"
                    class="roadmap__border-button"
                />
            </div>
            <div class="roadmap__border-left">
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="2023 STEP-01"
                    text="Conduct a land auction"
                    class="roadmap__fill-top"
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="2023 STEP-02"
                    text="Marketplace opening and NFT release"
                    class=""
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="2023 STEP-03"
                    text="Creation of a cryptocurrency exchange"
                    class=""
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="2023 STEP-04"
                    text="Test version of the game"
                    class="roadmap__border-button"
                />
            </div>
            <div class="roadmap__border-right">
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="JUNE 2022"
                    text="Bringing an idea to life"
                    class="roadmap__fill-top-right"
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="JULY 2022"
                    text="The idea of a big economic game “PlanexLand”"
                    class="roadmap__fill-right"
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="AUGUST 2022"
                    text="Creation of Finity token"
                    class="roadmap__border-button roadmap__fill-right"
                />
            </div>
            <div class="roadmap__border-right">
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="DECEMBER 2022"
                    text="Start of Planex land development"
                    class="roadmap__fill-top-right"
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="JANUARY 2022"
                    text="Conduct a land auction"
                    class="roadmap__fill-right"
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="FEBRUARY 2022"
                    text="Planex Land NFT collection release"
                    class="roadmap__border-button roadmap__fill-right"
                />
            </div>
            <div class="roadmap__border-right">
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="2024 STEP-01"
                    text="Cryptocurrency exchange release"
                    class="roadmap__fill-top-right"
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="2024 STEP-02"
                    text="Release PlanexLand"
                    class="roadmap__fill-right"
                />
                <load
                    src="src/components/token-page/roadmape-info.html"
                    title="2024 STEP-03"
                    text="Release of the complete Finity Touch ecosystem"
                    class="roadmap__border-button roadmap__fill-right"
                />
            </div>
        </div>
    </div>
</section>
