<section class="tokenomic tokenomic__container">
    <div class="tokenomic__content">
        <div class="tokenomic__title-block">
            <h2 class="tokenomic__title"><span class="tokenomic__gradient">FNT</span> Tokenomic</h2>
            <p class="tokenomic__text">
                There is a total of 1,000,000,000 FNT tokens. Binance Smart Chain is the Issuer of
                the FNT Token and will distribute FNT tokens in the following areas:
            </p>
        </div>
        <div class="tokenomic__chart">
            <img
                class="tokenomic__img"
                src="../assets/images/token-page/token-chart.webp"
                alt="chart"
            />
            <load
                src="src/components/token-page/tokenomic-info.html"
                number="2.5%"
                text="Private Sale"
                href_svg="#line-1"
                svg_number="tokenomic__svg-one"
                class_orientation="tokenomic__left"
            />
            <load
                src="src/components/token-page/tokenomic-info.html"
                number="6.6%"
                text="Public Sale"
                href_svg="#line-2"
                svg_number="tokenomic__svg-two"
                class_orientation="tokenomic__left"
            />
            <load
                src="src/components/token-page/tokenomic-info.html"
                number="7.4%"
                text="Seedround"
                href_svg="#line-2"
                svg_number="tokenomic__svg-two"
                class_orientation="tokenomic__left"
            />
            <load
                src="src/components/token-page/tokenomic-info.html"
                number="12%"
                text="Team"
                href_svg="#line-3"
                svg_number="tokenomic__svg-three"
                class__block-margin="tokenomic__margin-one"
                class_orientation="tokenomic__left"
            />
            <load
                src="src/components/token-page/tokenomic-info.html"
                number="15%"
                text="Fund"
                href_svg="#line-4"
                svg_number="tokenomic__svg-four"
                class__block-margin="tokenomic__margin-two"
                class_orientation="tokenomic__left"
            />
            <load
                src="src/components/token-page/tokenomic-info.html"
                number="25%"
                text="Reserved"
                href_svg="#line-5"
                svg_number="tokenomic__svg-five"
                class__block-margin="tokenomic__margin-three"
                class_orientation="tokenomic__right"
            />
            <load
                src="src/components/token-page/tokenomic-info.html"
                number="30%"
                text="Ecosystem"
                href_svg="#line-6"
                svg_number="tokenomic__svg-six"
                class__block-margin="tokenomic__margin-four"
                class_orientation="tokenomic__right"
            />
            <load
                src="src/components/token-page/tokenomic-info.html"
                class_orientation="tokenomic__right"
                number="1.5%"
                text="Airdrop"
                href_svg="#line-6"
                svg_number="tokenomic__svg-seven"
                class__block-margin="tokenomic__margin-five"
            />
        </div>
        <div class="tokenomic__blur-block">
            <img
                class="tokenomic__blur-img"
                src="../assets/images/token-page/token-blur-2.webp"
                alt="blur"
            />
            <img
                class="tokenomic__blur-img"
                src="../assets/images/token-page/token-blur-3.webp"
                alt="blur"
            />
        </div>
    </div>
</section>
