@import "vars";

.link {
    font-weight: 500;

    @include breakpoints(md) {
        font-size: 20px;
    }

    @include breakpoints(sm) {
        font-size: 18px;
    }

    &:hover {
        color: $games;
    }

    &-button {
        padding: 16px 32px;
        border-radius: 50px;
        border: 2px solid $mainColorText;

        @include breakpoints(md) {
            font-size: 19px;
            padding: 17px 19px;
        }

        @include breakpoints(sm) {
            font-size: 16px;
        }

        &-block {
            display: flex;
            align-items: center;
            gap: 21px;

            @include breakpoints(md) {
            }

            @include breakpoints(sm) {
                gap: 23px;
            }
        }

        &-colors {
            padding: 16px 42px;
            background: $mainColorGradient;
            border-radius: 50px;

            @include breakpoints(md) {
                font-size: 19px;
                padding: 18px 22px;
            }

            @include breakpoints(sm) {
                font-size: 19px;
            }
        }
    }
}
