.link {
    font-weight: 500;

    @include breakpoints(md) {
        font-size: 20px;
    }

    @include breakpoints(sm) {
        font-size: 18px;
    }

    @include breakpoints(ssm) {
        font-size: 16px;
    }

    &:hover {
        color: $games;
    }

    &-button {
        padding: 16px 32px;
        border-radius: 50px;

        @include breakpoints(md) {
            font-size: 19px;
            padding: 17px 19px;
        }

        @include breakpoints(sm) {
            padding: 20px 18px;
        }

        @include breakpoints(ssm) {
            font-size: 16px;
            padding: 14px 10px;
        }

        &-block {
            display: flex;
            align-items: center;
            gap: 21px;

            @include breakpoints(sm) {
                gap: 23px;
            }
        }

        &-white {
            border: 2px solid $mainColorText;

            @include breakpoints(sm) {
                padding: 18px 18px;
            }

            @include breakpoints(ssm) {
                padding: 12px 10px;
            }
        }

        &-colors {
            padding: 16px 42px;
            background: $mainColorGradient;

            @include breakpoints(md) {
                padding: 18px 22px;
            }

            @include breakpoints(ssm) {
                padding: 14px 10px;
            }
        }
    }
}

.leave-button {
    &__border {
        margin-top: 38px;
        position: relative;
        padding: 2px;
        border-radius: 60px 0;
        overflow: hidden;

        @include breakpoints(md) {
            margin: 28px auto 0;
            display: flex;
        }
    }

    &__text {
        display: block;
        margin: 0 auto;
        position: relative;
        font-weight: 600;
        font-size: 22px;
        z-index: 1;
        letter-spacing: 1px;
        transition: all 0.5s ease-in-out;

        @include breakpoints(md) {
            font-size: 20px;
        }
    }

    &__fill {
        display: flex;
        padding: 16px 0;
        border-radius: 60px 0;
        width: 250px;
        text-align: center;

        @include breakpoints(md) {
            width: 228px;
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 0;
            height: 100%;
            transition: width 0.5s ease-in-out;
        }

        &:hover {
            span {
                color: $backgroundWebsite;
            }

            &:after {
                width: 100%;
            }
        }
    }
}

.application-button {
    &__border {
        position: relative;
        padding: 2px;
        border-radius: 0 68px;
        overflow: hidden;
    }

    &__text {
        display: block;
        position: relative;
        font-weight: 600;
        font-size: 33px;
        letter-spacing: 1px;
        z-index: 1;
        transition: all 0.5s ease-in-out;

        @include breakpoints(md) {
            font-size: 18px;
        }

        @include breakpoints(ssm) {
            font-size: 13px;
        }
    }

    &__fill {
        padding: 18px 67px;
        border-radius: 0 68px;
        display: flex;

        @include breakpoints(md) {
            padding: 10px 18px;
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 0;
            height: 100%;
            transition: width 0.5s ease-in-out;
        }

        &:hover {
            span {
                color: $backgroundWebsite;
            }

            &:after {
                width: 100%;
            }
        }
    }
}
