$mainFonts: "Montserrat";
$supportFonts: "Chakra Petch";

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    font-family: $mainFonts;
    font-weight: 400;
    src:
        url("/src/assets/fonts/montserrat-v26-latin-regular.woff2") format("woff2"),
        url("/src/assets/fonts/montserrat-v26-latin-regular.woff") format("woff");
}

/* montserrat-500 - latin */

@font-face {
    font-display: swap;
    font-family: $mainFonts;
    font-weight: 500;
    src:
        url("/src/assets/fonts/montserrat-v26-latin-500.woff2") format("woff2"),
        url("/src/assets/fonts/montserrat-v26-latin-500.woff") format("woff");
}

/* montserrat-600 - latin */

@font-face {
    font-display: swap;
    font-family: $mainFonts;
    font-weight: 600;
    src:
        url("/src/assets/fonts/montserrat-v26-latin-600.woff2") format("woff2"),
        url("/src/assets/fonts/montserrat-v26-latin-600.woff") format("woff");
}

/* montserrat-700 - latin */

@font-face {
    font-display: swap;
    font-family: $mainFonts;
    font-weight: 700;
    src:
        url("/src/assets/fonts/montserrat-v26-latin-700.woff2") format("woff2"),
        url("/src/assets/fonts/montserrat-v26-latin-700.woff") format("woff");
}

/* chakra-petch-600 - latin */

@font-face {
    font-display: swap;
    font-family: $supportFonts;
    font-weight: 600;
    src:
        url("/src/assets/fonts/chakra-petch-v11-latin-600.woff2") format("woff2"),
        url("/src/assets/fonts/chakra-petch-v11-latin-600.woff") format("woff");
}

/* chakra-petch-700 - latin */

@font-face {
    font-display: swap;
    font-family: $supportFonts;
    font-weight: 700;
    src:
        url("/src/assets/fonts/chakra-petch-v11-latin-700.woff2") format("woff2"),
        url("/src/assets/fonts/chakra-petch-v11-latin-700.woff") format("woff");
}
