.ideas {
    &__content {
        margin-top: 88px;

        @include breakpoints(md) {
            margin-top: 100px;
        }

        @include breakpoints(sm) {
            margin-top: 27px;
        }
    }

    &__title {
        font-size: 60px;
        color: $mainColorText;
        text-align: center;
        font-weight: 700;

        @include breakpoints(md) {
            font-size: 36px;
        }

        @include breakpoints(sm) {
            font-size: 24px;
        }
    }

    &__title-gradient {
        background: $mainColorGradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__block {
        display: flex;
        width: 79%;
        margin: 40px auto 0;


        @include breakpoints(xl) {
            width: 95%;

        }

        @include breakpoints(md) {
            width: 100%;
            margin: 25px auto 0;
            overflow-y: auto;
        }

        @include breakpoints(sm) {
            padding: 7px 36px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__border {
        padding: 1px;
        border-radius: 60px;
        width: 100%;

        @include breakpoints(sm) {
            border-radius: 40px;
        }
    }

    &__fill {
        min-height: 100%;
        padding: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $backgroundWebsite;
        border-radius: 60px;
    }

    &__svg {
        width: 90px;
        height: 90px;

        @include breakpoints(sm) {
            width: 50px;
            height: 50px;
        }
    }

    &__block-title {
        margin-top: 7px;
        color: $mainColorText;
        font-size: 28px;
        font-weight: 600;
        text-align: center;

        @include breakpoints(sm) {
            font-size: 16px;
            font-weight: 600;
        }
    }

    &__text {
        margin-top: 17px;
        font-size: 17px;
        font-weight: 500;
        text-align: center;

        @include breakpoints(sm) {
            font-size: 12px;
        }
    }

    &__link {
        margin-top: auto;
        font-size: 20px;
        font-weight: 600;
        background: $mainColorGradient;
        align-items: center;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include breakpoints(sm) {
            font-size: 15px;
        }
    }

    &__none {
        display: none;
    }

    &__green {
        background: $grant;
        box-shadow: 2px 2px 9px 0 $greenShadow;
        height: 278px;

        @include breakpoints(md) {
            height: 310px;
        }

        @include breakpoints(sm) {
            height: 218px;
        }

        &-fiill {
            @include breakpoints(md) {
                width: 100%;
                min-width: 340px;
            }

            @include breakpoints(sm) {
                border-radius: 40px;
                min-width: 300px;
                padding: 16px;
            }
        }

        &-margin {
            gap: 40px;

            @include breakpoints(xl) {
                gap: 30px;
            }

            @include  breakpoints(md) {
                padding: 7px 36px;
            }
        }
    }

    &__svg-page {
        @include breakpoints(sm) {
            margin-top: 12px;
            width: 60px;
            height: 60px;
        }
    }

    &__violet {
        background: $mainColorGradient;
        height: 340px;
        box-shadow: 2px 2px 9px 0 $pinkShadow;

        @include breakpoints(sm) {
            height: 219px;
        }

        &-fiill {
            @include breakpoints(md) {
                width: 100%;
                min-width: 270px;
            }

            @include breakpoints(sm) {
                border-radius: 40px;
                min-width: 238px;
                padding: 16px;
            }
        }

        &-margin {
            gap: 40px;

            @include breakpoints(xl) {
                gap: 30px;
            }

            @include  breakpoints(md) {
                gap: 52px;
                padding: 7px 56px;
            }
        }
    }
}
