<section class="benefits benefits__container">
    <div class="benefits__content">
        <div class="benefits__block">
            <div class="benefits__img-block">
                <video class="benefits__img" preload="metadata" muted loop playsinline>
                    <source src="/src/assets/images/main-page/main-page-2.mp4" />
                </video>
            </div>
            <div class="benefits__info-block">
                <div class="benefits__text-block">
                    <svg class="benefits__angle">
                        <use href="#angle"></use>
                    </svg>
                    <h3 class="benefits__title">
                        Get <span class="benefits__gradient-green">grant</span> from
                        <span class="benefits__gradient-green">Finity Foundation</span>
                    </h3>
                    <p class="benefits__text">
                        We engage Web 3.0 developers to improve the Finnity Touch ecosystem. Finity
                        Touch is ready to support your unique ideas, help in the development and
                        marketing strategy of your product.
                    </p>
                    <svg class="benefits__angle-bottom">
                        <use href="#angle"></use>
                    </svg>
                    <img
                        class="benefits__bluer"
                        src="/src/assets/images/main-page/main-page-bluer-1.webp"
                        alt="bluer"
                    />
                </div>
                <div class="benefits__bottom-block">
                    <div class="benefits__button-block">
                        <load
                            src="src/components/main-page/benefits-button.html"
                            colors="button__green"
                        />
                        <div class="benefits__line"></div>
                    </div>
                    <p class="benefits__vertical-text">PRODUCT 01</p>
                </div>
            </div>
        </div>
        <div class="benefits__block">
            <div class="benefits__img-block">
                <video class="benefits__img-games" preload="metadata" muted loop playsinline>
                    <source src="/src/assets/images/main-page/main-page-3.mp4" />
                </video>
            </div>
            <div class="benefits__info-block-games">
                <div class="benefits__text-block-games">
                    <svg class="benefits__angle">
                        <use href="#angle"></use>
                    </svg>
                    <h3 class="benefits__title-games">
                        Play <span class="benefits__gradient-blue">games</span> of the
                        <span class="benefits__gradient-blue"> Future</span>
                    </h3>
                    <p class="benefits__text">
                        We strive to create a broad and integrated ecosystem of gaming enthusiasts
                        and passionate developers. We focus on games using blockchain technology.
                        This allows players to earn money and own their items in the form of NFT.
                    </p>
                    <svg class="benefits__angle-bottom-games">
                        <use href="#angle"></use>
                    </svg>
                    <img
                        class="benefits__bluer-game"
                        src="/src/assets/images/main-page/main-page-bluer-2.webp"
                        alt="bluer"
                    />
                </div>
                <div class="benefits__bottom-block-games">
                    <div class="benefits__button-block-games">
                        <load
                            src="src/components/main-page/benefits-button.html"
                            colors="button__blue"
                        />
                        <div class="benefits__line"></div>
                    </div>
                    <p class="benefits__vertical-text-game">PRODUCT 02</p>
                </div>
            </div>
        </div>
        <div class="benefits__block">
            <div class="benefits__img-block">
                <video class="benefits__img-marketplace" preload="metadata" muted loop playsinline>
                    <source src="/src/assets/images/main-page/main-page-4.mp4" />
                </video>
            </div>

            <div class="benefits__info-block-marketplace">
                <div class="benefits__text-block-marketplace">
                    <svg class="benefits__angle">
                        <use href="#angle"></use>
                    </svg>
                    <h3 class="benefits__title">
                        Trade <span class="benefits__gradient-orange">NFT</span> with a new
                        <span class="benefits__gradient-orange">Marketplace</span>
                    </h3>
                    <p class="benefits__text">
                        The Finite Market is designed to trade new types of digital goods. You can
                        buy, sell and participate in NFT auctions just like in real life. All
                        non-fungible tokens in Finity Market are unique and can be used on FT
                        platforms.
                    </p>
                    <svg class="benefits__angle-bottom-marketplace">
                        <use href="#angle"></use>
                    </svg>
                    <img
                        class="benefits__bluer-marketplace"
                        src="/src/assets/images/main-page/main-page-bluer-3.webp"
                        alt="bluer"
                    />
                </div>
                <div class="benefits__bottom-block-marketplace">
                    <div class="benefits__button-block-marketplace">
                        <load
                            src="src/components/main-page/benefits-button.html"
                            colors="button__orange"
                        />
                        <div class="benefits__line"></div>
                    </div>
                    <p class="benefits__vertical-text-marketplace">PRODUCT 03</p>
                </div>
            </div>
        </div>
    </div>
</section>
