<section class="main-section main-section__container">
    <div class="main-section__content">
        <div class="main-section__text-block">
            <h1 class="main-section__title">Finity Touch</h1>
            <h2 class="main-section__title-support">
                Creating an ecosystem WEB 3.0 that you really want to use
            </h2>
            <p class="main-section__text">
                Finity Touch creates the infrastructure for a secure and innovative future
            </p>
            <load
                src="src/components/base/button-component.html"
                class-special="main-section__button-margin"
            />
        </div>
        <video class="main-section__img-block" preload="metadata" muted loop playsinline>
            <source src="/src/assets/images/main-page/main-page-1.mp4" />
        </video>
    </div>
</section>
