<section class="main-section main-section__container">
    <div class="main-section__content">
        <div class="main-section__text-block">
            <h1 class="main-section__title">Finity Touch</h1>
            <h2 class="main-section__title-support">
                Creating an ecosystem WEB 3.0 that you really want to use
            </h2>
            <p class="main-section__text">
                Finity Touch creates the infrastructure for a secure and innovative future
            </p>
            <div class="button-block">
                <a class="link-button main-section__button" href="#">Contact Us</a>
                <a class="link-button-colors main-section__button" href="#">Buy Token</a>
            </div>
        </div>
        <div class="main-section__img-block">
            <img src="/src/assets/images/main-page/main-page-1.gif" />
        </div>
    </div>
</section>
