<section class="{=$device}">
    <div class="moving-img">
        <div class="moving-img__content">
            <div class="moving-img__scroll">
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-1.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-2.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-3.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-4.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-5.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-6.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-7.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-1.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-2.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-3.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-4.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-5.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-6.webp"
                    alt_text="sponsors"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-7.webp"
                    alt_text="sponsors"
                />
            </div>
        </div>
    </div>
</section>
