<section class="{=$device}">
    <div class="moving-img">
        <div class="moving-img__content">
            <div class="moving-img__scroll">
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-1.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-2.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-3.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-4.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-5.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-6.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-7.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-1.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-2.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-3.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-4.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-5.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-6.png"
                />
                <load
                    src="src/components/main-page/moving-img-component.html"
                    src_img="/src/assets/images/main-page/swiper_logo-7.png"
                />
            </div>
        </div>
    </div>
</section>
