<section class="social social__container">
    <div class="social__content">
        <h2 class="social__title">Follow Us On Social Media</h2>
        <div class="social__links">
            <a class="social__link social__linkedin" href="#">
                <img
                    class="social__link-img"
                    src="/src/assets/images/main-page/token-linkedIn.png"
                    alt="link to linkedIn"
                />
            </a>
            <a class="social__link social__discord" href="#">
                <img
                    class="social__link-img"
                    src="/src/assets/images/main-page/token-discord.png"
                    alt="link to discord"
                />
            </a>
            <a class="social__link social__reddit" href="#">
                <img
                    class="social__link-img"
                    src="/src/assets/images/main-page/token-reddit.png"
                    alt="link to reddit"
                />
            </a>
            <a class="social__link social__telegram" href="#">
                <img
                    class="social__link-img"
                    src="/src/assets/images/main-page/token-telegram.png"
                    alt="link to telegram"
                />
            </a>
            <a class="social__link social__twitter" href="#">
                <img
                    class="social__link-img"
                    src="/src/assets/images/main-page/token-twitter.png"
                    alt="link to twitter"
                />
            </a>
            <a class="social__link social__instagram" href="#">
                <img
                    class="social__link-img"
                    src="/src/assets/images/main-page/token-instagram.png"
                    alt="link to instagram"
                />
            </a>
        </div>
        <div class="social__img">
            <img
                class="social__img-smartphone"
                src="/src/assets/images/main-page/main-page-6.png"
                alt="smartphone"
            />
            <img
                class="social__img-smartphone-body"
                src="/src/assets/images/main-page/main-page-7.png"
                alt="smartphone-body"
            />
        </div>
    </div>
</section>
