<section class="team team__container">
    <div class="team__content">
        <h2 class="team__title">Our Team</h2>
        <img class="team__bluer" src="/src/assets/images/main-page/main-page-bluer-4.webp" />
        <img class="team__bluer" src="/src/assets/images/main-page/main-page-bluer-5.webp" />
        <img class="team__bluer-mobile" src="/src/assets/images/main-page/main-page-bluer-7.webp" />
        <img class="team__bluer-mobile" src="/src/assets/images/main-page/main-page-bluer-6.webp" />
        <div class="team__swiper">
            <button class="team__button-prev">
                <svg class="team__prev-svg">
                    <use href="#triangular-button"></use>
                </svg>
            </button>
            <div class="swiper">
                <div class="toggle-class team__block">
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-1.jpg"
                        name="Tigran Chobanian"
                        position="Founder & CFO"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-2.jpg"
                        name="Daniel Aushev"
                        position="Co-Founder and CMO"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-3.jpg"
                        name="Erik Anastasian"
                        position="Co-Founder Product Manager"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-4.jpg"
                        name="Daniel Hrinberh"
                        position="Co-Founder & CEO"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-5.jpg"
                        name="Karen Shehunts"
                        position="Strategic Advisor"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-6.jpg"
                        name="Tihon Belenkiy"
                        position="UI/UX Designer"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-7.jpg"
                        name="Vladimir Kucher"
                        position="Back-End Developer"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-8.jpg"
                        name="Artem Prokopchuk"
                        position="3D Artist"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-1.jpg"
                        name="Tigran Chobanian"
                        position="Founder & CFO"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-2.jpg"
                        name="Daniel Aushev"
                        position="Co-Founder and CMO"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-3.jpg"
                        name="Erik Anastasian"
                        position="Co-Founder Product Manager"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                    <load
                        src="src/components/main-page/team-card.html"
                        src_img="src/assets/images/main-page/main-swiper-4.jpg"
                        name="Daniel Hrinberh"
                        position="Co-Founder & CEO"
                        link__linkedin="#"
                        link__instagram="#"
                        link__telegram="#"
                        link__twitter="#"
                    />
                </div>
            </div>
            <button class="team__button-next">
                <svg class="team__next-svg">
                    <use href="#triangular-button"></use>
                </svg>
            </button>
        </div>
    </div>
    <button class="team__button">
        <span class="team__button-text"> More </span>
        <svg class="team__button-svg">
            <use class="team__svg" href="#arrow"></use>
        </svg>
    </button>
</section>
