<div class="swiper-slide">
    <div class="team-card team-card__border">
        <div class="team-card__fill">
            <img class="team-card__img" src="{=$src_img}" />
            <h3 class="team-card__title">{=$name}</h3>
            <p class="team-card__text">{=$position}</p>
            <div class="team-card__items">
                <a class="team-card__item" href="{=$link__linkedin}">
                    <svg class="team-card__svg">
                        <use href="#linkedin"></use>
                    </svg>
                </a>
                <a class="team-card__item" href="{=$link__instagram}">
                    <svg class="team-card__svg">
                        <use href="#instagram"></use>
                    </svg>
                </a>
                <a class="team-card__item" href="{=$link__telegram}">
                    <svg class="team-card__svg">
                        <use href="#telegram"></use>
                    </svg>
                </a>
                <a class="team-card__item" href="{=$link__twitter}">
                    <svg class="team-card__svg">
                        <use href="#twitter"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
