.roadmap {
    &__content {
        position: relative;
        margin: 373px auto 0;
        width: 74%;
        min-width: 1340px;

        @include breakpoints(xl) {
            width: 90%;
            min-width: 1200px;
            margin: 350px auto 0;
        }

        @include breakpoints(md) {
            width: 60%;
            min-width: 0;
            margin: 120px auto 0;
        }

        @include breakpoints(sm) {
            width: 70%;
            margin: 65px auto 0;
        }

        @include breakpoints(ssm) {
            width: 100%;
        }
    }

    &__blur {
        position: absolute;
        top: 99%;
        left: -15%;
        z-index: -1;

        @include breakpoints(md) {
            display: none;
        }
    }

    &__blur-mobile {
        display: none;

        @include breakpoints(md) {
            display: block;
            position: absolute;
            top: 122%;
            left: -20%;
            z-index: -1;

            //&:nth-child(3) {
            //    position: absolute;
            //    top: 175%;
            //    left: 5%;
            //}
        }
    }

    &__img {
        padding-right: 170px;
        width: 100%;

        @include breakpoints(md) {
            display: none;
        }
    }

    &__svg {
        display: none;

        @include breakpoints(md) {
            display: block;
            margin: 5px auto 10px;
            width: 87px;
            height: 44px;
        }

        @include breakpoints(sm) {
            margin: 7px auto 10px;
            width: 47px;
            height: 24px;
        }
    }

    &__border {
        padding: 2px;
        display: flex;
        flex-direction: column;
        background: $grant;
        position: absolute;
        box-shadow: 2px 2px 9px 0 $greenShadow;

        @include breakpoints(md) {
            position: static;
            padding: 3px;
        }

        @include breakpoints(ssm) {
            padding: 1px;
        }

        &:nth-child(1) {
            top: 61%;
            left: -2%;
            width: 263px;
            height: 200px;
            clip-path: polygon(
                13.457% 14.884%,
                13.457% 14.884%,
                11.764% 15.062%,
                10.158% 15.58%,
                8.66% 16.409%,
                7.293% 17.521%,
                6.076% 18.888%,
                5.033% 20.48%,
                4.184% 22.272%,
                3.551% 24.233%,
                3.155% 26.337%,
                3.019% 28.554%,
                3.019% 80.389%,
                3.019% 80.389%,
                3.155% 82.606%,
                3.551% 84.71%,
                4.184% 86.671%,
                5.033% 88.462%,
                6.076% 90.055%,
                7.293% 91.422%,
                8.66% 92.533%,
                10.158% 93.362%,
                11.764% 93.88%,
                13.457% 94.059%,
                85.033% 94.059%,
                85.033% 94.059%,
                86.726% 93.88%,
                88.333% 93.362%,
                89.83% 92.533%,
                91.198% 91.422%,
                92.414% 90.055%,
                93.458% 88.462%,
                94.307% 86.671%,
                94.94% 84.71%,
                95.335% 82.606%,
                95.472% 80.389%,
                95.472% 28.554%,
                95.472% 28.554%,
                95.335% 26.337%,
                94.94% 24.233%,
                94.307% 22.272%,
                93.458% 20.48%,
                92.414% 18.888%,
                91.198% 17.521%,
                89.83% 16.409%,
                88.333% 15.58%,
                86.726% 15.062%,
                85.033% 14.884%,
                30.3% 14.884%,
                30.3% 14.884%,
                29.953% 14.861%,
                29.614% 14.794%,
                29.283% 14.685%,
                28.963% 14.534%,
                28.657% 14.344%,
                28.367% 14.116%,
                28.094% 13.851%,
                27.841% 13.551%,
                27.61% 13.218%,
                27.404% 12.853%,
                23.191% 4.57%,
                23.191% 4.57%,
                23.046% 4.341%,
                22.875% 4.166%,
                22.686% 4.044%,
                22.484% 3.977%,
                22.278% 3.962%,
                22.074% 3.999%,
                21.877% 4.089%,
                21.697% 4.231%,
                21.538% 4.424%,
                21.408% 4.668%,
                18.108% 12.523%,
                18.108% 12.523%,
                17.908% 12.943%,
                17.677% 13.328%,
                17.419% 13.675%,
                17.136% 13.983%,
                16.83% 14.249%,
                16.504% 14.472%,
                16.161% 14.649%,
                15.804% 14.778%,
                15.436% 14.857%,
                15.059% 14.884%,
                13.457% 14.884%
            );

            @include breakpoints(xl) {
                top: 77%;
            }

            @include breakpoints(md) {
                clip-path: none;
                width: 100%;
                border-radius: 20px;
                height: 100%;
            }

            .roadmap__fill {
                padding: 55px 20px 12px 16px;
                gap: 26px;
                clip-path: polygon(
                    13.18% 14.532%,
                    13.18% 14.532%,
                    11.474% 14.713%,
                    9.855% 15.236%,
                    8.346% 16.074%,
                    6.968% 17.196%,
                    5.742% 18.576%,
                    4.691% 20.185%,
                    3.836% 21.994%,
                    3.198% 23.976%,
                    2.799% 26.1%,
                    2.662% 28.34%,
                    2.662% 80.693%,
                    2.662% 80.693%,
                    2.799% 82.932%,
                    3.198% 85.057%,
                    3.836% 87.038%,
                    4.691% 88.847%,
                    5.742% 90.456%,
                    6.968% 91.836%,
                    8.346% 92.959%,
                    9.855% 93.796%,
                    11.474% 94.319%,
                    13.18% 94.5%,
                    85.3% 94.5%,
                    85.3% 94.5%,
                    87.006% 94.319%,
                    88.624% 93.796%,
                    90.133% 92.959%,
                    91.511% 91.836%,
                    92.737% 90.456%,
                    93.788% 88.847%,
                    94.643% 87.038%,
                    95.281% 85.057%,
                    95.68% 82.932%,
                    95.817% 80.693%,
                    95.817% 28.34%,
                    95.817% 28.34%,
                    95.68% 26.1%,
                    95.281% 23.976%,
                    94.643% 21.994%,
                    93.788% 20.185%,
                    92.737% 18.576%,
                    91.511% 17.196%,
                    90.133% 16.074%,
                    88.624% 15.236%,
                    87.006% 14.713%,
                    85.3% 14.532%,
                    30.15% 14.532%,
                    30.15% 14.532%,
                    29.801% 14.51%,
                    29.459% 14.442%,
                    29.125% 14.331%,
                    28.803% 14.179%,
                    28.495% 13.987%,
                    28.202% 13.757%,
                    27.927% 13.489%,
                    27.673% 13.187%,
                    27.44% 12.85%,
                    27.232% 12.481%,
                    22.987% 4.115%,
                    22.987% 4.115%,
                    22.841% 3.884%,
                    22.669% 3.707%,
                    22.478% 3.585%,
                    22.275% 3.516%,
                    22.067% 3.501%,
                    21.861% 3.539%,
                    21.664% 3.63%,
                    21.481% 3.773%,
                    21.321% 3.968%,
                    21.19% 4.215%,
                    17.865% 12.149%,
                    17.865% 12.149%,
                    17.664% 12.573%,
                    17.432% 12.961%,
                    17.171% 13.312%,
                    16.886% 13.623%,
                    16.577% 13.892%,
                    16.249% 14.117%,
                    15.904% 14.295%,
                    15.544% 14.426%,
                    15.173% 14.505%,
                    14.793% 14.532%,
                    13.18% 14.532%
                );

                @include breakpoints(md) {
                    clip-path: none;
                    border-radius: 20px;
                    padding: 20px 7px 20px 18px;
                    gap: 28px;
                }

                @include breakpoints(sm) {
                    padding: 16px 7px 25px 16px;
                }

                @include breakpoints(ssm) {
                    gap: 10px;
                }
            }
        }

        &:nth-child(3) {
            top: 3%;
            left: 22.5%;
            width: 265px;
            height: 230px;
            clip-path: polygon(
                13.457% 85.317%,
                13.457% 85.317%,
                11.764% 85.161%,
                10.158% 84.71%,
                8.66% 83.988%,
                7.293% 83.02%,
                6.076% 81.831%,
                5.033% 80.444%,
                4.184% 78.884%,
                3.551% 77.176%,
                3.155% 75.345%,
                3.019% 73.414%,
                3.019% 15.351%,
                3.019% 15.351%,
                3.155% 13.42%,
                3.551% 11.589%,
                4.184% 9.881%,
                5.033% 8.321%,
                6.076% 6.935%,
                7.293% 5.745%,
                8.66% 4.777%,
                10.158% 4.055%,
                11.764% 3.604%,
                13.457% 3.448%,
                85.033% 3.448%,
                85.033% 3.448%,
                86.726% 3.604%,
                88.333% 4.055%,
                89.83% 4.777%,
                91.198% 5.745%,
                92.414% 6.935%,
                93.458% 8.321%,
                94.307% 9.881%,
                94.94% 11.589%,
                95.335% 13.42%,
                95.472% 15.351%,
                95.472% 73.414%,
                95.472% 73.414%,
                95.335% 75.345%,
                94.94% 77.176%,
                94.307% 78.884%,
                93.458% 80.444%,
                92.414% 81.831%,
                91.198% 83.02%,
                89.83% 83.988%,
                88.333% 84.71%,
                86.726% 85.161%,
                85.033% 85.317%,
                56.715% 85.317%,
                56.715% 85.317%,
                56.368% 85.337%,
                56.029% 85.395%,
                55.698% 85.49%,
                55.378% 85.621%,
                55.072% 85.787%,
                54.782% 85.985%,
                54.509% 86.216%,
                54.256% 86.477%,
                54.025% 86.767%,
                53.819% 87.085%,
                49.606% 94.297%,
                49.606% 94.297%,
                49.461% 94.496%,
                49.29% 94.649%,
                49.101% 94.754%,
                48.899% 94.813%,
                48.693% 94.826%,
                48.488% 94.794%,
                48.292% 94.715%,
                48.111% 94.592%,
                47.953% 94.424%,
                47.823% 94.211%,
                44.523% 87.372%,
                44.523% 87.372%,
                44.323% 87.006%,
                44.092% 86.671%,
                43.834% 86.369%,
                43.551% 86.101%,
                43.245% 85.869%,
                42.919% 85.675%,
                42.576% 85.521%,
                42.219% 85.409%,
                41.851% 85.34%,
                41.474% 85.317%,
                13.457% 85.317%
            );

            @include breakpoints(xl) {
                top: -30%;
                left: 20.5%;
            }

            @include breakpoints(md) {
                clip-path: none;
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            .roadmap__fill {
                padding: 26px 20px 12px 24px;
                gap: 20px;
                clip-path: polygon(
                    13.457% 85.317%,
                    13.457% 85.317%,
                    11.764% 85.161%,
                    10.158% 84.71%,
                    8.66% 83.988%,
                    7.293% 83.02%,
                    6.076% 81.831%,
                    5.033% 80.444%,
                    4.184% 78.884%,
                    3.551% 77.176%,
                    3.155% 75.345%,
                    3.019% 73.414%,
                    3.019% 15.351%,
                    3.019% 15.351%,
                    3.155% 13.42%,
                    3.551% 11.589%,
                    4.184% 9.881%,
                    5.033% 8.321%,
                    6.076% 6.935%,
                    7.293% 5.745%,
                    8.66% 4.777%,
                    10.158% 4.055%,
                    11.764% 3.604%,
                    13.457% 3.448%,
                    85.033% 3.448%,
                    85.033% 3.448%,
                    86.726% 3.604%,
                    88.333% 4.055%,
                    89.83% 4.777%,
                    91.198% 5.745%,
                    92.414% 6.935%,
                    93.458% 8.321%,
                    94.307% 9.881%,
                    94.94% 11.589%,
                    95.335% 13.42%,
                    95.472% 15.351%,
                    95.472% 73.414%,
                    95.472% 73.414%,
                    95.335% 75.345%,
                    94.94% 77.176%,
                    94.307% 78.884%,
                    93.458% 80.444%,
                    92.414% 81.831%,
                    91.198% 83.02%,
                    89.83% 83.988%,
                    88.333% 84.71%,
                    86.726% 85.161%,
                    85.033% 85.317%,
                    56.715% 85.317%,
                    56.715% 85.317%,
                    56.368% 85.337%,
                    56.029% 85.395%,
                    55.698% 85.49%,
                    55.378% 85.621%,
                    55.072% 85.787%,
                    54.782% 85.985%,
                    54.509% 86.216%,
                    54.256% 86.477%,
                    54.025% 86.767%,
                    53.819% 87.085%,
                    49.606% 94.297%,
                    49.606% 94.297%,
                    49.461% 94.496%,
                    49.29% 94.649%,
                    49.101% 94.754%,
                    48.899% 94.813%,
                    48.693% 94.826%,
                    48.488% 94.794%,
                    48.292% 94.715%,
                    48.111% 94.592%,
                    47.953% 94.424%,
                    47.823% 94.211%,
                    44.523% 87.372%,
                    44.523% 87.372%,
                    44.323% 87.006%,
                    44.092% 86.671%,
                    43.834% 86.369%,
                    43.551% 86.101%,
                    43.245% 85.869%,
                    42.919% 85.675%,
                    42.576% 85.521%,
                    42.219% 85.409%,
                    41.851% 85.34%,
                    41.474% 85.317%,
                    13.457% 85.317%
                );

                @include breakpoints(md) {
                    clip-path: none;
                    border-radius: 20px;
                    padding: 20px 7px 20px 18px;
                    gap: 24px;
                }

                @include breakpoints(sm) {
                    padding: 19px 7px 15px 16px;
                }

                @include breakpoints(ssm) {
                    gap: 10px;
                }
            }
        }

        &:nth-child(5) {
            top: 61%;
            left: 56.6%;
            width: 263px;
            height: 200px;
            clip-path: polygon(
                13.457% 14.884%,
                13.457% 14.884%,
                11.764% 15.062%,
                10.158% 15.58%,
                8.66% 16.409%,
                7.293% 17.521%,
                6.076% 18.888%,
                5.033% 20.48%,
                4.184% 22.272%,
                3.551% 24.233%,
                3.155% 26.337%,
                3.019% 28.554%,
                3.019% 80.389%,
                3.019% 80.389%,
                3.155% 82.606%,
                3.551% 84.71%,
                4.184% 86.671%,
                5.033% 88.462%,
                6.076% 90.055%,
                7.293% 91.422%,
                8.66% 92.533%,
                10.158% 93.362%,
                11.764% 93.88%,
                13.457% 94.059%,
                85.033% 94.059%,
                85.033% 94.059%,
                86.726% 93.88%,
                88.333% 93.362%,
                89.83% 92.533%,
                91.198% 91.422%,
                92.414% 90.055%,
                93.458% 88.462%,
                94.307% 86.671%,
                94.94% 84.71%,
                95.335% 82.606%,
                95.472% 80.389%,
                95.472% 28.554%,
                95.472% 28.554%,
                95.335% 26.337%,
                94.94% 24.233%,
                94.307% 22.272%,
                93.458% 20.48%,
                92.414% 18.888%,
                91.198% 17.521%,
                89.83% 16.409%,
                88.333% 15.58%,
                86.726% 15.062%,
                85.033% 14.884%,
                56.715% 14.884%,
                56.715% 14.884%,
                56.368% 14.861%,
                56.029% 14.794%,
                55.698% 14.685%,
                55.378% 14.534%,
                55.072% 14.344%,
                54.782% 14.116%,
                54.509% 13.851%,
                54.256% 13.551%,
                54.025% 13.218%,
                53.819% 12.853%,
                49.606% 4.57%,
                49.606% 4.57%,
                49.461% 4.341%,
                49.29% 4.166%,
                49.101% 4.044%,
                48.899% 3.977%,
                48.693% 3.962%,
                48.488% 3.999%,
                48.292% 4.089%,
                48.111% 4.231%,
                47.953% 4.424%,
                47.823% 4.668%,
                44.523% 12.523%,
                44.523% 12.523%,
                44.323% 12.943%,
                44.092% 13.328%,
                43.834% 13.675%,
                43.551% 13.983%,
                43.245% 14.249%,
                42.919% 14.472%,
                42.576% 14.649%,
                42.219% 14.778%,
                41.851% 14.857%,
                41.474% 14.884%,
                13.457% 14.884%
            );

            @include breakpoints(xl) {
                top: 77%;
                left: 53.6%;
            }

            @include breakpoints(md) {
                clip-path: none;
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            .roadmap__fill {
                padding: 46px 20px 12px 18px;
                gap: 18px;
                clip-path: polygon(
                    13.457% 14.884%,
                    13.457% 14.884%,
                    11.764% 15.062%,
                    10.158% 15.58%,
                    8.66% 16.409%,
                    7.293% 17.521%,
                    6.076% 18.888%,
                    5.033% 20.48%,
                    4.184% 22.272%,
                    3.551% 24.233%,
                    3.155% 26.337%,
                    3.019% 28.554%,
                    3.019% 80.389%,
                    3.019% 80.389%,
                    3.155% 82.606%,
                    3.551% 84.71%,
                    4.184% 86.671%,
                    5.033% 88.462%,
                    6.076% 90.055%,
                    7.293% 91.422%,
                    8.66% 92.533%,
                    10.158% 93.362%,
                    11.764% 93.88%,
                    13.457% 94.059%,
                    85.033% 94.059%,
                    85.033% 94.059%,
                    86.726% 93.88%,
                    88.333% 93.362%,
                    89.83% 92.533%,
                    91.198% 91.422%,
                    92.414% 90.055%,
                    93.458% 88.462%,
                    94.307% 86.671%,
                    94.94% 84.71%,
                    95.335% 82.606%,
                    95.472% 80.389%,
                    95.472% 28.554%,
                    95.472% 28.554%,
                    95.335% 26.337%,
                    94.94% 24.233%,
                    94.307% 22.272%,
                    93.458% 20.48%,
                    92.414% 18.888%,
                    91.198% 17.521%,
                    89.83% 16.409%,
                    88.333% 15.58%,
                    86.726% 15.062%,
                    85.033% 14.884%,
                    56.715% 14.884%,
                    56.715% 14.884%,
                    56.368% 14.861%,
                    56.029% 14.794%,
                    55.698% 14.685%,
                    55.378% 14.534%,
                    55.072% 14.344%,
                    54.782% 14.116%,
                    54.509% 13.851%,
                    54.256% 13.551%,
                    54.025% 13.218%,
                    53.819% 12.853%,
                    49.606% 4.57%,
                    49.606% 4.57%,
                    49.461% 4.341%,
                    49.29% 4.166%,
                    49.101% 4.044%,
                    48.899% 3.977%,
                    48.693% 3.962%,
                    48.488% 3.999%,
                    48.292% 4.089%,
                    48.111% 4.231%,
                    47.953% 4.424%,
                    47.823% 4.668%,
                    44.523% 12.523%,
                    44.523% 12.523%,
                    44.323% 12.943%,
                    44.092% 13.328%,
                    43.834% 13.675%,
                    43.551% 13.983%,
                    43.245% 14.249%,
                    42.919% 14.472%,
                    42.576% 14.649%,
                    42.219% 14.778%,
                    41.851% 14.857%,
                    41.474% 14.884%,
                    13.457% 14.884%
                );

                @include breakpoints(md) {
                    clip-path: none;
                    border-radius: 20px;
                    padding: 20px 7px 20px 18px;
                    gap: 28px;
                }

                @include breakpoints(sm) {
                    padding: 15px 7px 25px 15px;
                }

                @include breakpoints(ssm) {
                    gap: 10px;
                }
            }
        }

        &:nth-child(7) {
            top: -67%;
            left: 81.4%;
            width: 263px;
            height: 200px;
            padding: 32px 25px 12px 18px;
            gap: 8px;
            clip-path: polygon(
                13.18% 83.468%,
                13.18% 83.468%,
                11.474% 83.287%,
                9.855% 82.764%,
                8.346% 81.926%,
                6.968% 80.804%,
                5.742% 79.424%,
                4.691% 77.815%,
                3.836% 76.006%,
                3.198% 74.025%,
                2.799% 71.9%,
                2.662% 69.661%,
                2.662% 17.307%,
                2.662% 17.307%,
                2.799% 15.068%,
                3.198% 12.943%,
                3.836% 10.962%,
                4.691% 9.153%,
                5.742% 7.544%,
                6.968% 6.164%,
                8.346% 5.041%,
                9.855% 4.204%,
                11.474% 3.681%,
                13.18% 3.5%,
                85.3% 3.5%,
                85.3% 3.5%,
                87.006% 3.681%,
                88.624% 4.204%,
                90.133% 5.041%,
                91.511% 6.164%,
                92.737% 7.544%,
                93.788% 9.153%,
                94.643% 10.962%,
                95.281% 12.943%,
                95.68% 15.068%,
                95.817% 17.307%,
                95.817% 69.66%,
                95.817% 69.66%,
                95.68% 71.9%,
                95.281% 74.024%,
                94.643% 76.005%,
                93.788% 77.815%,
                92.737% 79.424%,
                91.511% 80.804%,
                90.133% 81.926%,
                88.624% 82.764%,
                87.006% 83.287%,
                85.3% 83.468%,
                30.15% 83.468%,
                30.15% 83.468%,
                29.801% 83.49%,
                29.459% 83.558%,
                29.125% 83.668%,
                28.803% 83.821%,
                28.495% 84.013%,
                28.202% 84.243%,
                27.927% 84.511%,
                27.673% 84.813%,
                27.44% 85.15%,
                27.232% 85.519%,
                22.987% 93.885%,
                22.987% 93.885%,
                22.841% 94.116%,
                22.669% 94.293%,
                22.478% 94.415%,
                22.275% 94.484%,
                22.067% 94.499%,
                21.861% 94.461%,
                21.664% 94.37%,
                21.481% 94.227%,
                21.321% 94.032%,
                21.19% 93.785%,
                17.865% 85.852%,
                17.865% 85.852%,
                17.664% 85.427%,
                17.432% 85.039%,
                17.171% 84.688%,
                16.886% 84.377%,
                16.577% 84.108%,
                16.249% 83.883%,
                15.904% 83.705%,
                15.544% 83.574%,
                15.173% 83.495%,
                14.793% 83.468%,
                13.18% 83.468%
            );

            @include breakpoints(xl) {
                top: -90%;
                left: 79.4%;
            }

            @include breakpoints(md) {
                margin-bottom: 8px;
                clip-path: none;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                padding: 20px 7px 27px 18px;
                gap: 28px;
            }

            @include breakpoints(ssm) {
                gap: 10px;
            }
        }

        &:nth-child(8) {
            top: 98%;
            left: 81.6%;
            width: 263px;
            height: 200px;
            padding: 36px 20px 12px 18px;
            gap: 5px;
            clip-path: polygon(
                13.18% 14.532%,
                13.18% 14.532%,
                11.474% 14.713%,
                9.855% 15.236%,
                8.346% 16.074%,
                6.968% 17.196%,
                5.742% 18.576%,
                4.691% 20.185%,
                3.836% 21.994%,
                3.198% 23.976%,
                2.799% 26.1%,
                2.662% 28.34%,
                2.662% 80.693%,
                2.662% 80.693%,
                2.799% 82.932%,
                3.198% 85.057%,
                3.836% 87.038%,
                4.691% 88.847%,
                5.742% 90.456%,
                6.968% 91.836%,
                8.346% 92.959%,
                9.855% 93.796%,
                11.474% 94.319%,
                13.18% 94.5%,
                85.3% 94.5%,
                85.3% 94.5%,
                87.006% 94.319%,
                88.624% 93.796%,
                90.133% 92.959%,
                91.511% 91.836%,
                92.737% 90.456%,
                93.788% 88.847%,
                94.643% 87.038%,
                95.281% 85.057%,
                95.68% 82.932%,
                95.817% 80.693%,
                95.817% 28.34%,
                95.817% 28.34%,
                95.68% 26.1%,
                95.281% 23.976%,
                94.643% 21.994%,
                93.788% 20.185%,
                92.737% 18.576%,
                91.511% 17.196%,
                90.133% 16.074%,
                88.624% 15.236%,
                87.006% 14.713%,
                85.3% 14.532%,
                30.15% 14.532%,
                30.15% 14.532%,
                29.801% 14.51%,
                29.459% 14.442%,
                29.125% 14.331%,
                28.803% 14.179%,
                28.495% 13.987%,
                28.202% 13.757%,
                27.927% 13.489%,
                27.673% 13.187%,
                27.44% 12.85%,
                27.232% 12.481%,
                22.987% 4.115%,
                22.987% 4.115%,
                22.841% 3.884%,
                22.669% 3.707%,
                22.478% 3.585%,
                22.275% 3.516%,
                22.067% 3.501%,
                21.861% 3.539%,
                21.664% 3.63%,
                21.481% 3.773%,
                21.321% 3.968%,
                21.19% 4.215%,
                17.865% 12.149%,
                17.865% 12.149%,
                17.664% 12.573%,
                17.432% 12.961%,
                17.171% 13.312%,
                16.886% 13.623%,
                16.577% 13.892%,
                16.249% 14.117%,
                15.904% 14.295%,
                15.544% 14.426%,
                15.173% 14.505%,
                14.793% 14.532%,
                13.18% 14.532%
            );

            @include breakpoints(xl) {
                top: 100%;
                left: 79.4%;
            }

            @include breakpoints(md) {
                clip-path: none;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                padding: 20px 7px 18px 18px;
                gap: 28px;
            }

            @include breakpoints(ssm) {
                gap: 10px;
            }
        }
    }

    &__fill {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: $backgroundWebsite;
    }

    &__title-white,
    &__title-black {
        font-weight: 700;
        font-size: 33px;

        @include breakpoints(sm) {
            font-size: 25px;
        }
    }

    &__title-black {
        color: $backgroundWebsite;
    }

    &__text-white,
    &__text-black {
        font-weight: 500;
        font-size: 18px;

        @include breakpoints(sm) {
            font-size: 13px;
            letter-spacing: 0.02em;
        }
    }

    &__text-black {
        color: $backgroundWebsite;
    }
}
