<section class="contact contact__container">
    <div class="contact__content">
        <h2 class="contact__title">Contact Us</h2>
        <img class="{=$class-img}" src="{=$token-img}" alt="blur" />
        <form action="contactForm" class="contact__form">
            <div class="contact__form-block">
                <div class="contact__input-block">
                    <input class="contact__input-pitch" placeholder=" " type="text" name="name" />
                    <label class="contact__input-name">Name</label>
                    <div class="contact__input-line"></div>
                </div>
                <div class="contact__input-block">
                    <input class="contact__input-pitch" placeholder=" " type="email" name="email" />
                    <label class="contact__input-name">Mail</label>
                    <div class="contact__input-line"></div>
                </div>
                <div class="contact__input-block">
                    <input class="contact__input-pitch" placeholder=" " type="text" name="text" />
                    <label class="contact__input-name">Your message</label>
                    <div class="contact__input-line"></div>
                </div>
            </div>
            <div class="contact__input-button-block">
                <input class="contact__input-button" type="button" name="Send" value="Send" />
            </div>
        </form>
        <img class="{=$class-img-2}" src="{=$token-img-2}" alt="blur" />
    </div>
</section>
