<section class="faq faq__container">
    <div class="faq__content {=$margin}">
        <div class="faq__title-block">
            <h2 class="faq__title {=$fag_color_title}">Frequently Asked Questions</h2>
            <img class="faq__img {=$src_img_fund}" src="{=$src_img}" />
        </div>
        <div class="faq__question-block">
            <div class="faq__question-border {=$faq_color_border}">
                <div class="faq__question-fill">
                    <div class="faq__question-title-block">
                        <h3 class="faq__question-title">What is Finity Touch?</h3>
                        <svg class="faq__question-svg">
                            <use href="#cross"></use>
                        </svg>
                    </div>
                    <p class="faq__question-text">
                        15% of the issue of Finity tokens is used as a monetary fund for the
                        implementation of your ideas.
                    </p>
                </div>
            </div>
            <div class="faq__question-border {=$faq_color_border}">
                <div class="faq__question-fill">
                    <div class="faq__question-title-block">
                        <h3 class="faq__question-title">Where can I buy a Finity token?</h3>
                        <svg class="faq__question-svg">
                            <use href="#cross"></use>
                        </svg>
                    </div>
                    <p class="faq__question-text">
                        15% of the issue of Finity tokens is used as a monetary fund for the
                        implementation of your ideas.
                    </p>
                </div>
            </div>
            <div class="faq__question-border {=$faq_color_border}">
                <div class="faq__question-fill">
                    <div class="faq__question-title-block">
                        <h3 class="faq__question-title">What is the Finity token used for?</h3>
                        <svg class="faq__question-svg">
                            <use href="#cross"></use>
                        </svg>
                    </div>
                    <p class="faq__question-text">
                        15% of the issue of Finity tokens is used as a monetary fund for the
                        implementation of your ideas.
                    </p>
                </div>
            </div>
            <div class="faq__question-border {=$faq_color_border}">
                <div class="faq__question-fill">
                    <div class="faq__question-title-block">
                        <h3 class="faq__question-title">
                            Didn't find the answer to your question?
                        </h3>
                        <svg class="faq__question-svg">
                            <use href="#cross"></use>
                        </svg>
                    </div>
                    <p class="faq__question-text">
                        15% of the issue of Finity tokens is used as a monetary fund for the
                        implementation of your ideas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
