<footer class="footer {=$margin-class}">
    <div class="footer__content">
        <div class="footer__nav">
            <load src="src/components/base/navigation-component.html" hide="footer__hide" />
            <load
                src="src/components/base/button-component.html"
                class-special-link="footer__button"
            />
        </div>
        <div class="footer__copyright">
            <a class="footer__logo" href="#">
                <svg class="footer__svg"><use href="#logo"></use></svg
            ></a>
            <p class="footer__text">
                This website is maintained by Tihon Belenkiy. The contents and opinions of this
                website are those of Finity Touch. Finity Touch provides links to cryptocurrency
                exchanges as a service to the public
            </p>
        </div>
        <img class="footer__img" src="/src/assets/images/main-page/main-coin-3.webp" />
    </div>
</footer>
