<header class="header header__container">
    <div class="header__content">
        <a class="header__logo" href="#">
            <svg class="header__svg"><use href="#logo"></use></svg
        ></a>
        <div class="header__navigation">
            <load src="src/components/base/navigation-component.html" />
            <load
                src="src/components/base/button-component.html"
                class-special-link="link-button-white"
                class-special-link-2="link-button-colors"
            />
        </div>
        <div class="burger">
            <div class="burger__icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="burger__background">
                <div class="burger__items-background">
                    <div class="burger__scroll">
                        <div class="burger__logo">
                            <a href="#">
                                <svg class="burger__svg">
                                    <use href="#logo"></use></svg
                            ></a>
                        </div>
                        <ul class="burger__items">
                            <li class="burger__line"></li>
                            <li>
                                <a class="link burger__item" href="/finity-nft/index.html">Home</a>
                            </li>
                            <li class="burger__line"></li>
                            <li>
                                <a class="link burger__item" href="#">Marketplace</a>
                            </li>
                            <li class="burger__line"></li>
                            <li>
                                <a class="link burger__item" href="#">Token</a>
                            </li>
                            <li class="burger__line"></li>
                            <li>
                                <a
                                    class="link burger__item"
                                    href="/finity-nft/src/pages/page-fund.html"
                                    >Fund</a
                                >
                            </li>
                            <li class="burger__line"></li>
                        </ul>
                        <div class="burger__button-block">
                            <div class="burger__main-button">
                                <a class="burger__button" href="#">Contact Us</a>
                                <a class="burger__button" href="#">Buy Token</a>
                            </div>
                            <select class="burger__language">
                                <option class="header__language-option" selected>EN</option>
                                <option class="header__language-option">UA</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
