<nav class="navigation">
    <ul class="navigation__items">
        <li class="navigation__item">
            <a class="link" href="/finity-nft/index.html">Home</a>
        </li>
        <li class="navigation__item">
            <a class="link" href="#">Marketplace</a>
        </li>
        <li class="navigation__item">
            <a class="link" href="#">Token</a>
        </li>
        <li class="navigation__item">
            <a class="link" href="/finity-nft/src/pages/page-fund.html">Fund</a>
        </li>
    </ul>
    <select class="navigation__language {=$hide}">
        <option class="navigation__language-option" selected>EN</option>
        <option class="navigation__language-option">UA</option>
    </select>
</nav>
