<nav class="navigation">
    <ul class="navigation__items">
        <li class="navigation__item">
            <a class="link" href="/finity-nft/index.html">Home</a>
        </li>
        <li class="navigation__item">
            <a class="link" href="/finity-nft/404.html">Marketplace</a>
        </li>
        <li class="navigation__item">
            <a class="link" href="/finity-nft/src/pages/page-token.html">Token</a>
        </li>
        <li class="navigation__item">
            <a class="link" href="/finity-nft/src/pages/page-fund.html">Fund</a>
        </li>
    </ul>
    <div class="navigation__language {=$hide}">
        <load src="src/components/base/select.html" />
    </div>
</nav>
