<section class="application application__container">
    <div class="application__content">
        <div class="application__img-block">
            <img class="application__img" src="../assets/images/fund-page/fund-blur-5.webp" />
            <img class="application__img" src="../assets/images/fund-page/fund-blur-4.webp" />
        </div>
        <div class="application__button-block">
            <svg class="application__angle-top">
                <use href="#angle"></use>
            </svg>
            <h2 class="application__title">Submit your application today</h2>
            <div class="application__button">
                <load
                    src="src/components/base/button.html"
                    button-border="application-button__border"
                    color-border="application__color-border"
                    button-fill="application-button__fill"
                    color-fill="application__color-fill"
                    text-button="Contact Us"
                    button-text-class="application-button__text"
                />
                <load
                    src="src/components/base/button.html"
                    button-border="application-button__border"
                    color-border="application__color-border"
                    button-fill="application-button__fill"
                    color-fill="application__color-fill"
                    text-button="Apply Now"
                    button-text-class="application-button__text"
                />
            </div>
            <svg class="application__angle-bottom">
                <use href="#angle"></use>
            </svg>
        </div>
        <div class="application__link-block">
            <ul class="application__link-items">
                <li class="application__item">
                    <a class="application__link-item" href="#">
                        <svg class="application__link-svg">
                            <use href="#LinkedIn"></use>
                        </svg>
                    </a>
                </li>
                <li class="application__item">
                    <a class="application__link-item" href="#">
                        <svg class="application__link-svg">
                            <use href="#Instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="application__item">
                    <a class="application__link-item" href="#">
                        <svg class="application__link-svg">
                            <use href="#Telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="application__item">
                    <a class="application__link-item" href="#">
                        <svg class="application__link-svg">
                            <use href="#Twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="application__item">
                    <a class="application__link-item" href="#">
                        <svg class="application__link-svg">
                            <use href="#reddit"></use>
                        </svg>
                    </a>
                </li>
                <li class="application__item">
                    <a class="application__link-item" href="#">
                        <svg class="application__link-svg">
                            <use href="#discord"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
