<section class="ideas">
    <div class="ideas__block {=$margin}">
        <load src="src/components/base/ideas-card.html"
              fill="ideas__green-fiill"
              class-svg="ideas__svg-page"
              border-color="ideas__green"
              title-class="ideas__none"
              name-svg="#reward"
              text="Finity Touch is very excited to offer Grants to projects seeking to build on the FNT protocol.All Grants offered to prospective builders are subject to the final approval by Finity Touch"/>
        <load src="src/components/base/ideas-card.html"
              fill="ideas__green-fiill"
              class-svg="ideas__svg-page"
              border-color="ideas__green"
              title-class="ideas__none"
              name-svg="#purchase"
              text="Receive the ultimate support & backing to build a world-class game together with
Finity Foundation"/>
        <load src="src/components/base/ideas-card.html"
              fill="ideas__green-fiill"
              class-svg="ideas__svg-page"
              border-color="ideas__green"
              title-class="ideas__none"
              name-svg="#nft"
              text="Successful Grant recipients will receive access to monetary support, milestone-based FNT rewards, and access to deep blockchain gaming support and expertise"/>
    </div>
</section>