<section class="main">
    <div class="main__background-hidden">
        <video class="main__background-video" preload="metadata" muted loop playsinline>
            <source class="main__src-video" src="../assets/images/fund-page/fund-background.mp4" />
        </video>
    </div>
    <div class="main__container">
        <div class="main__content">
            <div class="main__text-block">
                <h2 class="main__title">Finity</h2>
                <h2 class="main__title">Fund</h2>
                <p class="main__text">
                    The Finity Foundation is a fund that fuels the development of new active
                    projects, as well as the possibility of discovering new fragments of the
                    ecosystem.
                </p>
                <load
                    src="src/components/base/button.html"
                    button-border="leave-button__border"
                    color-border="main__color-border"
                    button-fill="leave-button__fill"
                    color-fill="main__color-fill"
                    text-button="Leave a request"
                    button-text-class="leave-button__text"
                />
            </div>
            <img
                class="main__img-blur"
                src="../assets/images/fund-page/fund-blur-1.webp"
                alt="blur"
            />
            <img
                class="main__img-mobile"
                src="../assets/images/fund-page/fund-mobile-1.webp"
                alt="blur"
            />
        </div>
    </div>
</section>
