<section class="roadmap roadmap__container">
    <img class="roadmap__blur" src="../assets/images/fund-page/fund-blur-2.webp" alt="blur" />
    <img
        class="roadmap__blur-mobile"
        src="../assets/images/fund-page/fund-mobile-2.webp"
        alt="blur"
    />
    <img
        class="roadmap__blur-mobile"
        src="../assets/images/fund-page/fund-mobile-3.webp"
        alt="blur"
    />
    <div class="roadmap__content">
        <div class="roadmap__border">
            <div class="roadmap__fill">
                <h3 class="roadmap__title-white">Apply.</h3>
                <p class="roadmap__text-white">Tell Finity Touch about your project</p>
            </div>
        </div>
        <svg class="roadmap__svg">
            <use href="#arrow-down"></use>
        </svg>
        <div class="roadmap__border">
            <div class="roadmap__fill">
                <h3 class="roadmap__title-white">Review.</h3>
                <p class="roadmap__text-white">
                    Finity Foundation's team of analysts will review the application and contact
                    you.
                </p>
            </div>
        </div>
        <svg class="roadmap__svg">
            <use href="#arrow-down"></use>
        </svg>
        <div class="roadmap__border">
            <div class="roadmap__fill">
                <h3 class="roadmap__title-white">Success.</h3>
                <p class="roadmap__text-white">
                    Successful applicants will be contacted by Finity Foundation
                </p>
            </div>
        </div>
        <svg class="roadmap__svg">
            <use href="#arrow-down"></use>
        </svg>
        <div class="roadmap__border">
            <h3 class="roadmap__title-black">Ventures.</h3>
            <p class="roadmap__text-black">
                You get funding and marketing strategy from Finity Touch team
            </p>
        </div>
        <div class="roadmap__border">
            <h3 class="roadmap__title-black">Grants.</h3>
            <p class="roadmap__text-black">
                The unique idea will receive a grant and collaboration with the Finity Touch
                ecosystem.
            </p>
        </div>
        <img class="roadmap__img" src="../assets/images/fund-page/fund-roadmap.webp" alt="blur" />
    </div>
</section>
