.button {
    display: flex;
    padding: 3px;
    width: 297px;
    border-radius: 60px 0;

    @include breakpoints(sm) {
        width: 173px;
        padding: 2px;
        border-radius: 35px 0;
    }

    &__fill {
        display: flex;
        align-items: center;
        padding: 20px 27px;
        width: 100%;
        background: $backgroundWebsite;
        gap: 12px;
        border-radius: 60px 0;
        transition: background 0.5s ease-in-out;

        &:hover {
            background: transparent;
            p {
                color: $backgroundWebsite;
            }
            svg {
                fill: $backgroundWebsite;
            }
        }

        @include breakpoints(sm) {
            padding: 13px 19px;
            gap: 7px;
            border-radius: 35px 0;
        }
    }

    &__text {
        font-size: 27px;
        font-weight: 600;
        transition: color 0.5s ease-in-out;

        @include breakpoints(xl) {
            font-size: 25px;
        }

        @include breakpoints(md) {
            font-size: 20px;
        }

        @include breakpoints(sm) {
            font-size: 15px;
        }
    }

    &__svg {
        width: 23px;
        height: 26px;
        z-index: 2;
        fill: $mainColorText;
        transition: fill 0.5s ease-in-out;

        @include breakpoints(sm) {
            width: 13px;
            height: 16px;
        }
    }

    &__blue {
        background: $mainColorGradient;
    }

    &__orange {
        background: $marketplace;
    }

    &__green {
        background: $grant;
    }
}
