.social {
    &__content {
        margin-top: 179px;

        @include breakpoints(md) {
            margin-top: 100px;
        }

        @include breakpoints(md) {
            margin-top: 50px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 60px;
        text-align: center;

        @include breakpoints(md) {
            font-size: 46px;
        }

        @include breakpoints(sm) {
            font-size: 21px;
        }
    }

    &__links {
        position: relative;
        height: 366px;

        @include breakpoints(sm) {
            height: 110px;
        }

        @include breakpoints(ssm) {
            height: 160px;
        }
    }

    &__link {
        position: absolute;
        width: 14%;
        min-width: 235px;
        z-index: 0;

        @include breakpoints(xl) {
            width: 15%;
            min-width: 180px;
        }

        @include breakpoints(md) {
            width: 15%;
            min-width: 115px;
        }

        @include breakpoints(sm) {
            width: 15%;
            min-width: 63px;
        }

        &-img {
            @include breakpoints(xl) {
                width: 100%;
            }
        }
    }

    &__linkedin {
        top: 22%;
        left: 51%;
        animation: anim-social 3s ease-in-out infinite;

        @include breakpoints(sm) {
            top: 34%;
        }

        @include breakpoints(ssm) {
            top: 26%;
        }
    }

    &__discord {
        top: 48%;
        left: 35%;
        animation: anim-social 3s ease-in-out infinite;

        @include breakpoints(sm) {
            top: 57%;
            left: 30%;
        }

        @include breakpoints(ssm) {
            top: 47%;
        }
    }

    &__reddit {
        top: 97%;
        left: 46%;
        animation: anim-social-2 3s ease-in-out infinite;

        @include breakpoints(md) {
            top: 85%;
        }

        @include breakpoints(sm) {
            top: 97%;
            left: 44%;
        }

        @include breakpoints(ssm) {
            top: 80%;
        }
    }

    &__telegram {
        top: 107%;
        left: 29.5%;
        animation: anim-social-2 3s ease-in-out infinite;

        @include breakpoints(md) {
            top: 95%;
        }

        @include breakpoints(sm) {
            top: 105%;
            left: 22.5%;
        }

        @include breakpoints(ssm) {
            top: 90%;
        }
    }

    &__twitter {
        top: 113%;
        left: 59%;
        animation: anim-social-3 3s ease-in-out infinite;

        @include breakpoints(md) {
            top: 100%;
        }

        @include breakpoints(sm) {
            top: 110%;
            left: 61.5%;
        }

        @include breakpoints(ssm) {
            top: 100%;
        }
    }

    &__instagram {
        top: 166%;
        left: 34%;
        animation: anim-social-3 3s ease-in-out infinite;

        @include breakpoints(md) {
            top: 135%;
        }

        @include breakpoints(sm) {
            top: 155%;
            left: 29%;
        }

        @include breakpoints(ssm) {
            top: 130%;
        }
    }

    &__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        &-smartphone {
            align-items: center;
            z-index: -2;
            animation: anim-social-1 3s ease-in-out infinite;

            @include breakpoints(xl) {
                width: 80%;
            }

            @include breakpoints(sm) {
                width: 87%;
            }

            @include breakpoints(ssm) {
                width: 93%;
            }
        }

        &-smartphone-body {
            bottom: -13%;
            position: absolute;
            z-index: 1;
            animation: anim-social-1 3s ease-in-out infinite;

            @include breakpoints(xl) {
                width: 86.2%;
            }

            @include breakpoints(sm) {
                width: 93%;
            }

            @include breakpoints(ssm) {
                width: 100%;
            }
        }
    }
}

@keyframes anim-social {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

@include breakpoints(sm) {
    @keyframes anim-social {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

@keyframes anim-social-1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@include breakpoints(sm) {
    @keyframes anim-social-1 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-8px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

@keyframes anim-social-2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@include breakpoints(sm) {
    @keyframes anim-social-2 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

@keyframes anim-social-3 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@include breakpoints(sm) {
    @keyframes anim-social-3 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-25px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}
